playbook-Process_Email_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.1.0
    itemVersion: 2.5.1
    packID: Phishing
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: |
  Add email details to the relevant context entities and handle the case where original emails are attached.

  Added on this v2 playbook:
  - Uses incident fields and not incident labels.
  - Provides separate paths to "Phishing Alerts".
  - Uses the new "Get Original Email - Generic v2" playbook to retrieve original emails as eml files for both EWS v2 and Microsoft Graph Mail integration. This will assist with parsing the email artifacts in a more efficient way.
id: Process Email - Generic v2
inputs:
- description: An EML or MSG file with
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: The receiving email address.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: CC addresses.
  key: EmailCC
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailcc
      root: incident
- description: The originator of the email.
  key: EmailFrom
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The email’s subject.
  key: EmailSubject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The email’s text.
  key: EmailText
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailbody
      root: incident
- description: The email’s html.
  key: EmailHtml
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailhtml
      root: incident
- description: The email’s headers.
  key: EmailHeaders
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: phishingreporteremailheaders
      root: incident
- description: The email’s format.
  key: EmailFormat
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailformat
      root: incident
- description: |-
    Retrieves the original email in the thread. Default is "False".

    You must have the necessary permissions in your email service to execute global search.

    - EWS: eDiscovery
    - Gmail: Google Apps Domain-Wide Delegation of Authority
    - MSGraph: As described here:
      * https://docs.microsoft.com/en-us/graph/api/message-get
      * https://docs.microsoft.com/en-us/graph/api/user-list-messages
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The original email message id to retrieve. Holds the value of the "Message-ID"
    header of the original email. This value will be passed as an input to the playbook
    "Get Original Email - Generic v2"
  key: MessageID
  playbookInputQuery: null
  required: false
  value: {}
- description: The user's email address for which to retrieve the original email.
    This value will be passed as an input to the playbook "Get Original Email - Generic
    v2".
  key: UserID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
      transformers:
      - args:
          regex:
            value:
              simple: (?i).*<([A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,})>
          replaceWith:
            value:
              simple: $1
        operator: replaceMatch
- description: The value of the "Thread-Topic" header which holds the original email
    subject. This is necessary for forwarded emails scenarios. It will be passed as
    an input to the "Get Original Email - Generic v2" playbook to be used in the relevant
    sub-playbooks.
  key: Thread-Topic
  playbookInputQuery: null
  required: false
  value: {}
name: Process Email - Generic v2
outputs:
- contextPath: Email.HTML
  description: Email 'html' body if exists.
  type: string
- contextPath: Email
  description: Email object.
  type: string
- contextPath: Email.CC
  description: Email 'cc' addresses.
  type: string
- contextPath: Email.From
  description: Email 'from' sender.
  type: string
- contextPath: Email.Subject
  description: Email subject.
  type: string
- contextPath: Email.To
  description: Email 'to' addresses.
  type: string
- contextPath: Email.Text
  description: Email 'text' body if exists.
  type: string
- contextPath: Email.Headers
  description: The full email headers as a single string.
  type: string
- contextPath: Email.Attachments
  description: The list of attachment names in the email.
  type: string
- contextPath: Email.Format
  description: The format of the email if available.
  type: string
- contextPath: File
  description: The File object.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 028c057d-2a33-4b5e-8501-ad0166f55e06
      iscommand: false
      name: ""
      version: -1
    taskid: 028c057d-2a33-4b5e-8501-ad0166f55e06
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -510
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        simple: ${inputs.File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identify whether the incident includes an email message attached
        as an eml or msg file and return the answer to playbook. Also saves the identified
        entry ID to context for use for later. Commonly used in automated playbooks
        that handle phishing reports sent to a special phishing mailbox set up by
        the security team.
      id: 161bad06-c10f-4c3b-8599-1743e279f703
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 161bad06-c10f-4c3b-8599-1743e279f703
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 15
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the Email
        context key.
      id: e5d2019a-9e65-4698-8e1f-1c9ae1dcda0f
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: e5d2019a-9e65-4698-8e1f-1c9ae1dcda0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -110,
          "y": 2020
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        simple: ${reportedemailentryid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses an email from an EML or MSG file and populates all relevant
        context data to investigate the email. Also extracts indicators from the email
        messages.
      id: 869479fe-4f37-4211-8d7f-333e7931bc80
      iscommand: false
      name: Extract email artifacts and attachments
      script: ParseEmailFiles
      type: regular
      version: -1
    taskid: 869479fe-4f37-4211-8d7f-333e7931bc80
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1075
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HTML
                root: Email
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: Email.HTML
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email is HTML-formatted, and whether the Rasterize
        integration is enabled.
      id: e3b5e51d-c643-400d-84fd-fd54ad6b5014
      iscommand: false
      name: Can an image of the email be rendered?
      type: condition
      version: -1
    taskid: e3b5e51d-c643-400d-84fd-fd54ad6b5014
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": 2390
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      htmlBody:
        complex:
          accessor: HTML
          root: Email
      offline:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Rasterize an email body into an image
      id: c41951dc-221e-41e2-8c39-87bb5e20b74c
      iscommand: true
      name: Render HTML to an image
      script: '|||rasterize-email'
      tags:
      - email_html_image
      type: regular
      version: -1
    taskid: c41951dc-221e-41e2-8c39-87bb5e20b74c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 100,
          "y": 2610
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b2be48ca-b624-4cd5-87d1-0124aa3e741d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b2be48ca-b624-4cd5-87d1-0124aa3e741d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 2840
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fe923a7-22d9-49ee-81e1-9e2c4fb762f7
      iscommand: false
      name: Email Screenshot
      type: title
      version: -1
    taskid: 9fe923a7-22d9-49ee-81e1-9e2c4fb762f7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 2260
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.GetOriginalEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: phishingreporteremailheaders
                root: incident
          operator: isNotEmpty
      label: Yes-Forwarded
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.GetOriginalEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: Yes-Alerts
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      Yes-Alerts:
      - "34"
      Yes-Forwarded:
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: If True, retrieve the original email in the thread
      id: 6d65c30c-731e-4eeb-84d3-fcf30b3cd04c
      iscommand: false
      name: Should the original email be retrieved?
      type: condition
      version: -1
    taskid: 6d65c30c-731e-4eeb-84d3-fcf30b3cd04c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 200
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Email
          operator: isExists
      label: Email Exist
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      Email Exist:
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an "Email" object in the context?
      id: eefa9fe2-e6a7-4031-893a-2765e539d1c4
      iscommand: false
      name: Was the original email retrieved?
      type: condition
      version: -1
    taskid: eefa9fe2-e6a7-4031-893a-2765e539d1c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 1240
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentitem:
        complex:
          accessor: Attachment.Item
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailbodyhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: Stringify
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailimage:
        complex:
          accessor: Image
          root: Email
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: HeadersMap.Message-ID
          root: Email
          transformers:
          - operator: uniq
      emailreplyto:
        complex:
          accessor: HeadersMap.Reply-To
          root: Email
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: HeadersMap.Return-Path
          root: Email
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: fa0cb93f-20d4-4972-8e3b-b2784250864d
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fa0cb93f-20d4-4972-8e3b-b2784250864d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 2090
        }
      }
  "20":
    continueonerror: true
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: Email.Headers
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" grid field in the incident layout with
        the retrieved email headers.
      id: 5a305f89-a43d-403d-8105-3c6da2421f45
      iscommand: false
      name: Display email headers in layout - Email.Headers
      script: SetGridField
      type: regular
      version: -1
    taskid: 5a305f89-a43d-403d-8105-3c6da2421f45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340,
          "y": 2020
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isNotEmpty
      label: HeadersMap
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Email.Headers
          operator: isNotEmpty
      label: Headers
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      Headers:
      - "20"
      HeadersMap:
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email headers were extracted from the original
        email that was either attached or retrieved using available email integrations.
      id: 02773e7a-623b-491d-8667-76e99063765c
      iscommand: false
      name: Were email headers extracted successfully?
      type: condition
      version: -1
    taskid: 02773e7a-623b-491d-8667-76e99063765c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1660
        }
      }
  "22":
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6b99de4-efa1-4a02-88fb-b39e7a0804cc
      iscommand: false
      name: Incident Layout Display
      type: title
      version: -1
    taskid: c6b99de4-efa1-4a02-88fb-b39e7a0804cc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 1490
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
      label: "yes"
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident contains any kind of file.
      id: b6224cc9-ed84-4bed-8fcb-d077722b4f14
      iscommand: false
      name: Are there any files in the incident?
      type: condition
      version: -1
    taskid: b6224cc9-ed84-4bed-8fcb-d077722b4f14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -360
        }
      }
  "24":
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IncidentFiles
      value:
        complex:
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the files that were initially involved with the incident
        in a separate context key so that they are available separate from email attachment
        files.
      id: 9c9c52d2-81ed-4dc4-820b-0be7f403ecc4
      iscommand: false
      name: Save incident files separately from email attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9c9c52d2-81ed-4dc4-820b-0be7f403ecc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -170
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "27"
      - "28"
      - "29"
      - "30"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: 4b384f12-dc73-45ae-8990-d193d01095c0
      iscommand: false
      name: Attachment Information
      type: title
      version: -1
    taskid: 4b384f12-dc73-45ae-8990-d193d01095c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2370,
          "y": 1660
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Count
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the number of attachments in the email.
      id: 67edc7b4-d501-4e1c-81f6-81ad153677cb
      iscommand: false
      name: Save number of attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 67edc7b4-d501-4e1c-81f6-81ad153677cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1760,
          "y": 1860
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Extension
      value:
        complex:
          accessor: Extension
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment extensions.
      id: d105cce8-ab7c-4719-8962-c91351b8f245
      iscommand: false
      name: Save attachment extensions
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d105cce8-ab7c-4719-8962-c91351b8f245
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 1860
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Hash
      value:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment MD5 hashes.
      id: 8c120a38-8df9-4f1f-872b-53bd062b968c
      iscommand: false
      name: Save attachment MD5 hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8c120a38-8df9-4f1f-872b-53bd062b968c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2167.5,
          "y": 1860
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Name
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment names.
      id: a1330e9f-c433-42f9-8593-ca456d69dab6
      iscommand: false
      name: Save attachment names
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a1330e9f-c433-42f9-8593-ca456d69dab6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2980,
          "y": 1860
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Size
      value:
        complex:
          accessor: Size
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment sizes.
      id: 0bac780b-129b-4b4b-84df-6325cabc8431
      iscommand: false
      name: Save attachment sizes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 0bac780b-129b-4b4b-84df-6325cabc8431
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2580,
          "y": 1860
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Type
      value:
        complex:
          accessor: Type
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment types.
      id: 56901aa0-20e7-44b1-8ea4-a54c6ddf9185
      iscommand: false
      name: Save attachment types
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 56901aa0-20e7-44b1-8ea4-a54c6ddf9185
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3390,
          "y": 1860
        }
      }
  "32":
    continueonerror: true
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: headers
      grid_id:
        simple: phishingreporteremailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This task normalizes the keys names of the headers which are different
        with each client. It will assist with extracting the relevant values for the
        next tasks.
      id: d04d1f99-cc47-41a7-8b3f-2dc99f51677f
      iscommand: false
      name: Normalize Reporter Email Headers
      script: SetGridField
      type: regular
      version: -1
    taskid: d04d1f99-cc47-41a7-8b3f-2dc99f51677f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 380,
          "y": 530
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: headers
      value:
        complex:
          accessor: phishingreporteremailheaders
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Preserves the original state of reporter's headers, which are stored
        in the context.
      id: a353acb2-9257-4df4-8af5-63f652d7a3ed
      iscommand: false
      name: Extract Reporter Email Headers
      script: Set
      type: regular
      version: -1
    taskid: a353acb2-9257-4df4-8af5-63f652d7a3ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 380,
          "y": 365
        }
      }
  "34":
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      EmailSubject:
        complex:
          root: inputs.Thread-Topic
      MessgaeID:
        complex:
          root: inputs.MessageID
      UserID:
        complex:
          root: inputs.UserID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook to retrieve the original email in the thread, including headers and attahcments, when the reporting user forwarded the original email not as an attachment.

        You must have the necessary permissions in your email service to execute global search.

        - EWS: eDiscovery
        - Gmail: Google Apps Domain-Wide Delegation of Authority
        - MSGraph: As described here:
            * https://docs.microsoft.com/en-us/graph/api/message-get
            * https://docs.microsoft.com/en-us/graph/api/user-list-messages
      id: d9b2f7bd-fa99-4fea-8655-8e859fa2cd0a
      iscommand: false
      name: Get Original Email - Generic v2
      playbookId: Get Original Email - Generic v2
      type: playbook
      version: -1
    taskid: d9b2f7bd-fa99-4fea-8655-8e859fa2cd0a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -30,
          "y": 690
        }
      }
  "36":
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "18"
      "yes":
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identifies whether the incident includes an email message attached
        as an eml or msg file and returns the answer to a playbook. Also saves the
        identified entry ID to context for later use. Commonly used in automated playbooks
        that handle phishing reports sent to a special phishing mailbox set up by
        the security team.
      id: 838269c2-4da2-4b5b-8734-7f1d86422cfe
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 838269c2-4da2-4b5b-8734-7f1d86422cfe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 885
        }
      }
  "37":
    continueonerror: true
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: ExtractedHeadersMap
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" grid field in the incident layout with
        the retrieved email headers.
      id: 25a645a6-540d-447d-8de9-fc3ae16bc466
      iscommand: false
      name: Display email headers in layout - Email.HeadersMap
      script: SetGridField
      type: regular
      version: -1
    taskid: 25a645a6-540d-447d-8de9-fc3ae16bc466
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 790,
          "y": 2020
        }
      }
  "38":
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      EmailBrand:
        complex:
          accessor: sourceBrand
          root: incident
      EmailSubject:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.phishingreporteremailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Thread-Topic
          root: incident.phishingreporteremailheaders
      MessgaeID:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.phishingreporteremailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: In-Reply-To
          root: incident.phishingreporteremailheaders
      UserID:
        complex:
          root: inputs.UserID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook to retrieve the original email in the thread, including headers and attahcments, when the reporting user forwarded the original email not as an attachment.

        You must have the necessary permissions in your email service to execute global search.

        - EWS: eDiscovery
        - Gmail: Google Apps Domain-Wide Delegation of Authority
        - MSGraph: As described here:
            * https://docs.microsoft.com/en-us/graph/api/message-get
            * https://docs.microsoft.com/en-us/graph/api/user-list-messages
      id: 60428e3a-d35f-4be9-852e-1834a3055810
      iscommand: false
      name: Get Original Email - Generic v2
      playbookId: Get Original Email - Generic v2
      type: playbook
      version: -1
    taskid: 60428e3a-d35f-4be9-852e-1834a3055810
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 380,
          "y": 695
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: AttachmentNames
                root: Email
          operator: isNotEmpty
      label: "yes"
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if attachments were found in an eml file to display their
        details in the layout.
      id: 2113716f-6e64-4016-8a79-99704e0f558a
      iscommand: false
      name: Check if attachments were found in eml file
      type: condition
      version: -1
    taskid: 2113716f-6e64-4016-8a79-99704e0f558a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1240
        }
      }
  "40":
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedHeadersMap
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Email.HeadersMap
              operator: isNotEmpty
          root: Email.HeadersMap
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 49bc5e00-458f-4a76-8b78-7a6722b1a655
      iscommand: false
      name: Set ExtractedHeadersMap
      script: Set
      type: regular
      version: -1
    taskid: 49bc5e00-458f-4a76-8b78-7a6722b1a655
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 790,
          "y": 1850
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_2_#default#": 0.28,
      "16_34_Yes-Alerts": 0.45,
      "18_22_Email Exist": 0.38,
      "23_24_yes": 0.49,
      "4_5_yes": 0.57
    },
    "paper": {
      "dimensions": {
        "height": 3415,
        "width": 4030,
        "x": -260,
        "y": -510
      }
    }
  }
