playbook-Block_IP_-_Generic_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.1.4
    packID: CommonPlaybooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: "This playbook blocks malicious IP addresses using all integrations that
  are enabled. The direction of the traffic that will be blocked is determined by
  the XSOAR user (and set by default to outgoing)\nNote the following:\n-  some of
  those integrations require specific parameters to run, which are based on the playbook
  inputs. Also, certain integrations use FW rules or appended network objects.\n-
  Note that the appended network objects should be specified in blocking rules inside
  the system later on. \n\n\nSupported integrations for this playbook [Network security
  products such as FW/WAF/IPs/etc.]: \n\n* Check Point Firewall\n* Palo Alto Networks
  PAN-OS\n* Zscaler\n* FortiGate\n* Aria Packet Intelligence\n* Cisco Firepower \n*
  Cisco Secure Cloud Analytics\n* Cisco ASA\n* Akamai WAF\n* F5 SilverLine\n* ThreatX\n*
  Signal Sciences WAF\n* Sophos Firewall\n\n"
id: Block IP - Generic v3
inputs:
- description: 'An array of malicious IPs to block. Enter a comma-separated list of
    IPs (i.e.: 1.1.1.1,2.2.2.2).'
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input determines whether Palo Alto Networks Panorama or Firewall
    Custom Block Rules are used.\nSpecify \"True\" to create new Custom Block Rules
    (2 FW rules inside the PAN-OS device). \nFor \"False\" - no rules will be created."
  key: CustomBlockRule
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Panorama log forwarding object name. Indicate what type of Log Forwarding
    setting will be specified in the PAN-OS custom rules.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input determines whether to commit the configuration automatically
    on PAN-OS devices and other FWs. \nYes - Commit automatically.\nNo - Commit manually."
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static Address Groups are used.
    Specify the Static Address Group name for IPs list handling.
  key: StaticAddressGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: Insert a tag name with which indicators will get tagged. This tag can
    be used later in the External Dynamic Lists integration by using the tag for filtering
    IPs in the indicator query.
  key: Tag
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Specify the Dynamic Address Group tag name for IPs list handling.
  key: DAG
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.  Default: True.\nWhether to provide user
    verification for blocking those IPs. \n\nFalse - No prompt will be displayed to
    the user.\nTrue - The server will ask the user for blocking verification and will
    display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges would be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).
    If a list is not provided, will use the default list provided in the IsIPInRanges
    script (the known IPv4 private address ranges).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: Signal Sciences WAF - Enter the site name for the integration to be
    applied. The site name can be found in your instance console.
  key: SiteName
  playbookInputQuery: null
  required: false
  value: {}
- description: Akamai's WAF network list ID, which is mandatory to be mentioned for
    the integration. The chosen IPs will be added to this ID.
  key: AkamaiNetworkListID
  playbookInputQuery: null
  required: false
  value: {}
- description: Cisco ASA (firewall) value for the rule's source object in the created
    blocking rule. Can be the value of an IPv4, an address block, or the name of a
    network object.
  key: CiscoFWSource
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values: True/False . Default: False
    Enrich the input IP address/es with reputation commands.
  key: InputEnrichment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The rule name/description that will be presented on the created rule in certain integrations (if there is a need).
    The supported integrations: PAN-OS, CheckPoint.

    Default input- "XSOAR - Block IP playbook - ${incident.id}"
  key: RuleName
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR - Block IP playbook - ${incident.id}
- description: |-
    Determine if a newly created rule should be with the network direction of outbound or inbound blocked traffic.
    Possible values: inbound or outbound
    Default: outbound
  key: RuleDirection
  playbookInputQuery: null
  required: false
  value:
    simple: outbound
name: Block IP - Generic v3
outputs:
- contextPath: Aria.BlockDestSubnet.Rule
  description: The rule name/ID which was created in the system for this playbook.
  type: unknown
- contextPath: Aria.BlockDestSubnet.Status
  description: The status of the command that created the rule above.
  type: unknown
- contextPath: Stealthwatch.IP.id
  description: The ID of the object created in Cisco Secure Cloud Analytics.
  type: unknown
- contextPath: Stealthwatch.IP.identifier
  description: The value of the object created in Cisco Secure Cloud Analytics.
  type: unknown
- contextPath: CiscoASA.Rules.ID
  description: The rule ID that was created in Cisco ASA for this playbook.
  type: unknown
- contextPath: CiscoASA.Rules.Source
  description: The rule's source object that was set in the associated rule.
  type: unknown
- contextPath: CiscoASA.Rules.Dest
  description: The rule's destination object that was set in the associated rule.
  type: unknown
- contextPath: CiscoASA.Rules.IsActive
  description: The rule's state that was set in the associated rule.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.ID
  description: Signal Sciences created rule ID.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.Source
  description: Signal Sciences blocked address in a dedicated rule.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.CreatedBy
  description: Signal Sciences - the blocking rule's creator name.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b9ca8cc-99d9-452a-8596-f70a1facd9a4
      iscommand: false
      name: ""
      version: -1
    taskid: 1b9ca8cc-99d9-452a-8596-f70a1facd9a4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -2840
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: caaf68e5-e08c-4b17-8226-6a48db42b817
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: caaf68e5-e08c-4b17-8226-6a48db42b817
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 1700
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "20"
      - "26"
      - "30"
      - "55"
      - "60"
      - "64"
      - "63"
      - "67"
      - "71"
      - "79"
      - "74"
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c1e25c27-141b-4e5e-844b-37a8a21f673a
      iscommand: false
      name: Block IPs
      type: title
      version: -1
    taskid: c1e25c27-141b-4e5e-844b-37a8a21f673a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 950
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: CheckPointFirewall_v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 7cfdf691-48c7-4f16-8fb3-8c132ac8645c
      iscommand: false
      name: Is Check Point Firewall enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 7cfdf691-48c7-4f16-8fb3-8c132ac8645c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 1270
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: BlockList.Input
          operator: isExists
        - left:
            iscontext: true
            value:
              simple: BlockList.Malicious
          operator: isExists
        - left:
            iscontext: true
            value:
              simple: BlockList.Suspicious
          operator: isExists
      label: "yes"
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "96"
      "yes":
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is at least one IP to block.
      id: bbd31e8e-d8ea-46f2-843a-1c0cdc730944
      iscommand: false
      name: Is there an IP to block?
      type: condition
      version: -1
    taskid: bbd31e8e-d8ea-46f2-843a-1c0cdc730944
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -860
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Zscaler
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 54f5666a-d679-4e74-88d9-ca307a13867d
      iscommand: false
      name: Is Zscaler enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 54f5666a-d679-4e74-88d9-ca307a13867d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 1270
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Block the IPs using Zscaler.
      id: 68f72a75-beef-42ef-8dfe-850a8a13bcce
      iscommand: true
      name: Block IP with Zscaler
      script: Zscaler|||zscaler-blacklist-ip
      type: regular
      version: -1
    taskid: 68f72a75-beef-42ef-8dfe-850a8a13bcce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 1450
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: ${inputs.AutoCommit}
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook blocks IP addresses using Custom Block Rules in Palo Alto Networks Panorama or Firewall.
        The playbook receives malicious IP addresses as inputs, creates a custom bi-directional rule to block them, and commits the configuration.
      id: f49f2985-90c6-4acd-8089-cdb0c39f3c4f
      iscommand: false
      name: PAN-OS - Block IP - Custom Block Rule
      playbookName: PAN-OS - Block IP - Custom Block Rule
      type: playbook
      version: -1
    taskid: f49f2985-90c6-4acd-8089-cdb0c39f3c4f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 610,
          "y": 1450
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AddressGroupName:
        simple: ${inputs.StaticAddressGroup}
      AutoCommit:
        simple: ${inputs.AutoCommit}
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook blocks IP addresses using Static Address Groups in Palo Alto Networks Panorama or Firewall.
        The playbook receives malicious IP addresses and an address group name as inputs, verifies that the addresses are not already part of the address group, adds them and commits the configuration.

        ***Note - The playbook does not block the address group communication using a policy block rule. This step will be taken once outside of the playbook.
      id: fe112934-f356-411d-831d-cb239ce181d8
      iscommand: false
      name: PAN-OS - Block IP - Static Address Group
      playbookName: PAN-OS - Block IP - Static Address Group
      type: playbook
      version: -1
    taskid: fe112934-f356-411d-831d-cb239ce181d8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1450
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
      - "23"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cdbc9b17-3072-4082-85f2-f7130ff47233
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: cdbc9b17-3072-4082-85f2-f7130ff47233
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1115
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7f112cc6-966d-451b-8ac2-7f656f7816ed
      iscommand: false
      name: CheckPoint FW
      type: title
      version: -1
    taskid: 7f112cc6-966d-451b-8ac2-7f656f7816ed
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 1115
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 50c1f43a-223e-4767-8ab3-66d2bced42e6
      iscommand: false
      name: Zscaler
      type: title
      version: -1
    taskid: 50c1f43a-223e-4767-8ab3-66d2bced42e6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 1115
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      action-type:
        simple: drop
      address_group_name:
        simple: ${inputs.StaticAddressGroup}
      auto_commit:
        simple: ${inputs.AutoCommit}
      inbound-or-outbound-rule:
        simple: ${inputs.RuleDirection}
      ip_list:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
      pre-post-rulebase:
        simple: pre-rulebase
      rule-position:
        simple: top
      tag_name:
        simple: ${inputs.DAG}
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "This playbook utilizes the Dynamic Address Group (DAG) capability
        of PAN-OS.\nDAG enables analysts to create a rule one time, where the group
        is the source/destination, and adds IP addresses dynamically without the need
        to commit the configuration every time.\n\nThe playbook checks if the given
        tag already exists. If the tag exists, then the IP address is added to the
        tag.\n\nIf the tag does not exist, a new address group is created with the
        given tag and a matching rule, and the configuration is committed. \n"
      id: 244c05b4-443c-4ab2-8ff3-730b0bfaa7a7
      iscommand: false
      name: PAN-OS DAG Configuration
      playbookName: PAN-OS DAG Configuration
      type: playbook
      version: -1
    taskid: 244c05b4-443c-4ab2-8ff3-730b0bfaa7a7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -220,
          "y": 1450
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CustomBlockRule
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if custom block rule playbook input is set to true.
      id: 35af37ce-8a86-44ef-82b4-d11d3171dda4
      iscommand: false
      name: Use Custom Block Rules?
      type: condition
      version: -1
    taskid: 35af37ce-8a86-44ef-82b4-d11d3171dda4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 610,
          "y": 1270
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.StaticAddressGroup
          operator: isNotEmpty
      label: "yes"
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a static address group name set as a playbook
        input.
      id: 92e6fb52-03c3-46e9-810e-37d7ec035e73
      iscommand: false
      name: Use Static Address Group?
      type: condition
      version: -1
    taskid: 92e6fb52-03c3-46e9-810e-37d7ec035e73
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1270
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Tag
          operator: isNotEmpty
      label: "yes"
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "103"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a tag to mark IPs for an EDL/EIS query.
      id: ee8f45ff-6077-4e92-83b4-6d3197c6b8ff
      iscommand: false
      name: Use External Dynamic List?
      type: condition
      version: -1
    taskid: ee8f45ff-6077-4e92-83b4-6d3197c6b8ff
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -640,
          "y": 1270
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.DAG
          operator: isNotEmpty
      label: "yes"
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a dynamic address group name set as a playbook
        input.
      id: 1053b74c-1705-48b4-8950-a1ce7f249bb3
      iscommand: false
      name: Use Dynamic Address Group?
      type: condition
      version: -1
    taskid: 1053b74c-1705-48b4-8950-a1ce7f249bb3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -220,
          "y": 1270
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: db7cd8b8-4b39-47a3-8fd7-11d8ad28fd15
      iscommand: false
      name: Fortinet
      type: title
      version: -1
    taskid: db7cd8b8-4b39-47a3-8fd7-11d8ad28fd15
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 1115
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: FortiGate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 27338ac6-4586-4480-8224-e57338cf76a0
      iscommand: false
      name: Is FortiGate enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 27338ac6-4586-4480-8224-e57338cf76a0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 1270
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds IP addresses to the banned list.
      id: e07dc4bf-3a28-474c-8bba-a16180b55201
      iscommand: true
      name: 'FortiGate Ban IP '
      script: '|||fortigate-ban-ip'
      type: regular
      version: -1
    taskid: e07dc4bf-3a28-474c-8bba-a16180b55201
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 1450
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        simple: ${BlockList.Final}
      block_IP_error_handling:
        simple: Stop
      checkpoint_error_handling:
        simple: Stop
      install_policy:
        complex:
          root: inputs.AutoCommit
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: "False"
              equals:
                value:
                  simple: "Yes"
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: "True"
            operator: If-Then-Else
      policy_package:
        simple: Standard
      rule_layer:
        simple: Network
      rule_name:
        simple: ${inputs.RuleName}
      rule_position:
        simple: top
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook blocks IP addresses using Custom Block Rules in Checkpoint Firewall.
        The playbook receives malicious IP addresses as inputs, creates a custom bi-directional rule to block them, and publishes the configuration.
      id: c9d90409-c70d-4e12-8a96-fb0e18bc6159
      iscommand: false
      name: Checkpoint - Block IP - Custom Block Rule
      playbookName: Checkpoint - Block IP - Custom Block Rule
      type: playbook
      version: -1
    taskid: c9d90409-c70d-4e12-8a96-fb0e18bc6159
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 1450
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c9c58be2-092f-4bc6-8ee3-a087d7016c55
      iscommand: false
      name: F5 Silverline
      type: title
      version: -1
    taskid: c9c58be2-092f-4bc6-8ee3-a087d7016c55
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2930,
          "y": 1115
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      cidr_range:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      list_type:
        simple: denylist
      note:
        simple: ${inputs.RuleName}
    separatecontext: false
    skipunavailable: false
    task:
      brand: F5Silverline
      description: Adds a new particular threatening IP address object by its IP address.
      id: 97b722a5-3f27-46d0-8bc6-91b4fffd05fd
      iscommand: true
      name: 'F5 Silverline - add IP to deny list '
      script: F5Silverline|||f5-silverline-ip-object-add
      type: regular
      version: -1
    taskid: 97b722a5-3f27-46d0-8bc6-91b4fffd05fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2930,
          "y": 1450
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: F5Silverline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e7f5b5e3-b8f7-45f1-894c-f91ca947da00
      iscommand: false
      name: Is F5 Silverline enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e7f5b5e3-b8f7-45f1-894c-f91ca947da00
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2930,
          "y": 1270
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.IP
                    operator: match
                    right:
                      value:
                        simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
                root: inputs.IP
          operator: isExists
      label: "yes"
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any IPs mentioned in the inputs section.
      id: 4122e78d-25df-42f0-8abb-08a57b206ce2
      iscommand: false
      name: Are there IPs in Inputs?
      type: condition
      version: -1
    taskid: 4122e78d-25df-42f0-8abb-08a57b206ce2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -2700
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Address
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: IP.Malicious
                    operator: isExists
                root: IP
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any malicious IPs from the input IPs.
      id: 479724d2-4c86-443f-8a9d-b76ba1d57696
      iscommand: false
      name: Are there any Malicious IPs?
      type: condition
      version: -1
    taskid: 479724d2-4c86-443f-8a9d-b76ba1d57696
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": -1480
        }
      }
  "42":
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Malicious
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Malicious
              operator: isExists
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: dd5ecc0c-6f4f-429f-876e-982f48631ea5
      iscommand: false
      name: Append Context List with IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: dd5ecc0c-6f4f-429f-876e-982f48631ea5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": -1050
        }
      }
  "43":
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd833ed6-d790-48a7-86a2-e779c1f1572c
      iscommand: false
      name: User Verification Prompt
      type: title
      version: -1
    taskid: bd833ed6-d790-48a7-86a2-e779c1f1572c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -605
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "86"
      "yes":
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if user verification is needed. Otherwise, proceed without
        asking questions.
      id: 12ece825-4055-437b-8959-6bb1944130be
      iscommand: false
      name: Is User Verification required?
      type: condition
      version: -1
    taskid: 12ece825-4055-437b-8959-6bb1944130be
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -485
        }
      }
  "45":
    form:
      description: Please note that there are Internal IPs in this form!
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Malicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Malicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Suspicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Suspicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Other IPs from Input"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Malicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
            root: BlockList.Input
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Do you approve the blocking request or "Internal Address"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
                operator: notIn
                right:
                  value:
                    simple: BlockList.Malicious
            root: BlockList.PIIP
            transformers:
            - operator: uniq
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: Your SOC team
      title: Please answer the following
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of IPs will be blocked on your XSOAR's integrated network devices.</p>
          <p><br />(<strong>Note</strong>: the IPs will be added to your company block list or be blocked in individual rules based on the XSOAR integrated devices).</p>
          <p>Also, <strong>please note</strong> that the following IPs are part of the <strong>internal range</strong> mentioned in the playbook:</p>
          <p>${BlockList.PIIP}</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block IP Playbook - Analyst's Verification
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst,Administrator
    nexttasks:
      '#none#':
      - "102"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Ask the user what IPs should be blocked.
        Note that in this task the following IPs are in your internal range:
        ${BlockList.PIIP}

        Remember that the direction you have decided is - ${inputs.RuleDirection}
      id: 5200626d-4349-455e-8294-6aeed49bd574
      iscommand: false
      name: 'Analyst Verification Prompt '
      type: collection
      version: -1
    taskid: 5200626d-4349-455e-8294-6aeed49bd574
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 580,
          "y": -15
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: match
                    right:
                      value:
                        simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.IP
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "2"
      label: "YES"
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "YES":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if any suspicious IPs were found during the IP enrichment
        process.
      id: b8c15c1f-d162-4b92-8cc6-8d39da478cc5
      iscommand: false
      name: Are there any Suspicious IPs?
      type: condition
      version: -1
    taskid: b8c15c1f-d162-4b92-8cc6-8d39da478cc5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 580,
          "y": -1480
        }
      }
  "48":
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Suspicious
      stringify:
        simple: "false"
      value:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: isEqualString
              right:
                value:
                  simple: "2"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: match
              right:
                value:
                  simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: f6235280-d48b-4e7a-8e27-9882b4336cdc
      iscommand: false
      name: Append Context List with IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: f6235280-d48b-4e7a-8e27-9882b4336cdc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 580,
          "y": -1050
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
      - "47"
      - "85"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d3bf4e7-1c97-4947-8faf-158c070b5eaf
      iscommand: false
      name: Finalize Verdict For IP/s
      type: title
      version: -1
    taskid: 1d3bf4e7-1c97-4947-8faf-158c070b5eaf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": -1630
        }
      }
  "53":
    continueonerror: true
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      indicatorsValues:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "No"
          - - left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.enrich.indicators
      id: 7a23e7e3-6f18-4341-8cd0-22c4778ef25e
      iscommand: true
      name: Enrich Indicators
      script: Builtin|||enrichIndicators
      type: regular
      version: -1
    taskid: 7a23e7e3-6f18-4341-8cd0-22c4778ef25e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": -1950
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1765bd0d-56e4-4020-8946-6755545e32cb
      iscommand: false
      name: Cisco ASA
      type: title
      version: -1
    taskid: 1765bd0d-56e4-4020-8946-6755545e32cb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 1115
        }
      }
  "56":
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cisco ASA
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 53ce7e5a-f0fa-4c66-8399-dc5be22da139
      iscommand: false
      name: Is Cisco ASA enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 53ce7e5a-f0fa-4c66-8399-dc5be22da139
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 1270
        }
      }
  "57":
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      active:
        complex:
          root: inputs.AutoCommit
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: "False"
              equals:
                value:
                  simple: "Yes"
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: Ture
            operator: If-Then-Else
      destination:
        complex:
          root: inputs.RuleDirection
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: 0.0.0.0
              equals:
                value:
                  simple: outbound
              lhs: {}
              options: {}
              rhs: {}
              then:
                iscontext: true
                value:
                  simple: ${BlockList.Final}
            operator: If-Then-Else
      interface_type:
        simple: Global
      log_level:
        simple: Default
      permit:
        simple: "False"
      position:
        simple: top
      source:
        complex:
          root: inputs.RuleDirection
          transformers:
          - args:
              condition: {}
              else:
                iscontext: true
                value:
                  simple: ${BlockList.Final}
              equals:
                value:
                  simple: outbound
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: 0.0.0.0
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a rule.
      id: 20210a8c-8909-4780-8dc2-631494cdb0ff
      iscommand: true
      name: Cisco ASA - Create Blocking Rule
      script: '|||cisco-asa-create-rule'
      type: regular
      version: -1
    taskid: 20210a8c-8909-4780-8dc2-631494cdb0ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1060,
          "y": 1450
        }
      }
  "58":
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Stealthwatch Cloud
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 85777a30-ccae-40fa-872b-9263c25cf912
      iscommand: false
      name: Is Cisco Secure Cloud Analytics enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 85777a30-ccae-40fa-872b-9263c25cf912
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1270
        }
      }
  "59":
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add a domain or IP to the block list.
      id: f701bf9b-a74b-47c4-8256-d37ce5fc64fd
      iscommand: true
      name: Cisco Secure Cloud Analytics - Add IP to Block List
      script: '|||sw-block-domain-or-ip'
      type: regular
      version: -1
    taskid: f701bf9b-a74b-47c4-8256-d37ce5fc64fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1450
        }
      }
  "60":
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17953b80-448b-4a6d-8303-7691f8dd153c
      iscommand: false
      name: Cisco Secure Cloud Analytics
      type: title
      version: -1
    taskid: 17953b80-448b-4a6d-8303-7691f8dd153c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1115
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "89"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cisco Firepower
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 4af7fc28-2629-4560-8afa-60eb4fef42c3
      iscommand: false
      name: Is Cisco Firepower enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4af7fc28-2629-4560-8afa-60eb4fef42c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1900,
          "y": 1270
        }
      }
  "63":
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 731d3137-a262-473d-8214-fb1dc19e66f3
      iscommand: false
      name: 'Cisco Firepower '
      type: title
      version: -1
    taskid: 731d3137-a262-473d-8214-fb1dc19e66f3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1900,
          "y": 1115
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8adfdfb-21ea-4566-821d-289cb4f64631
      iscommand: false
      name: Akamai WAF
      type: title
      version: -1
    taskid: d8adfdfb-21ea-4566-821d-289cb4f64631
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 1110
        }
      }
  "65":
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Akamai WAF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: b6e36f84-1604-42a0-8cd3-dfa1392db002
      iscommand: false
      name: Is Akamai WAF enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: b6e36f84-1604-42a0-8cd3-dfa1392db002
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 1270
        }
      }
  "66":
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      elements:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      network_list_id:
        simple: ${inputs.AkamaiNetworkListID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds elements to the specified network list.
      id: a2efece2-222b-450f-816c-755b1f4f2c0f
      iscommand: true
      name: Akamai WAF - Add IP to a block list
      script: '|||akamai-add-elements-to-network-list'
      type: regular
      version: -1
    taskid: a2efece2-222b-450f-816c-755b1f4f2c0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 1450
        }
      }
  "67":
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9cf2364e-b829-4674-8ee2-a0987fa202ed
      iscommand: false
      name: ThreatX
      type: title
      version: -1
    taskid: 9cf2364e-b829-4674-8ee2-a0987fa202ed
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3580,
          "y": 1115
        }
      }
  "68":
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "69"
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ThreatX
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 0b41f49c-283e-4f5c-88df-dd0f67b53214
      iscommand: false
      name: Is ThreatX enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 0b41f49c-283e-4f5c-88df-dd0f67b53214
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3580,
          "y": 1270
        }
      }
  "69":
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.RuleName}
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Temporarily blocks an IP address or CIDR. Default is 30 minutes.
      id: 8c9d14e7-3ce9-4e0b-8e06-b8525c1399dd
      iscommand: true
      name: ThreatX - Block IP for 30 min
      script: '|||threatx-block-ip'
      type: regular
      version: -1
    taskid: 8c9d14e7-3ce9-4e0b-8e06-b8525c1399dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 1450
        }
      }
  "71":
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f6bd7c3-4a06-46c3-82ec-fadab39c6658
      iscommand: false
      name: 'Signal Sciences WAF '
      type: title
      version: -1
    taskid: 9f6bd7c3-4a06-46c3-82ec-fadab39c6658
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4250,
          "y": 1115
        }
      }
  "72":
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Signal Sciences WAF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 1c5061d8-6f8a-47d6-8f44-7e0a7fa5f971
      iscommand: false
      name: Is Signal Sciences WAF  enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1c5061d8-6f8a-47d6-8f44-7e0a7fa5f971
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4250,
          "y": 1270
        }
      }
  "73":
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      note:
        simple: ${inputs.RuleName}
      siteName:
        simple: ${inputs.SiteName}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adding IPs to the Signal Sciences WAF integration.
      id: fa1b208d-09f5-46b0-8a0d-59c3a7d50374
      iscommand: true
      name: Is Signal Sciences WAF   - Blacklist IPs
      script: '|||sigsci-blacklist-add-ip'
      type: regular
      version: -1
    taskid: fa1b208d-09f5-46b0-8a0d-59c3a7d50374
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4250,
          "y": 1450
        }
      }
  "74":
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fc9c3e1e-ad8c-4166-8aa8-8c6ef6c11638
      iscommand: false
      name: Sophos Firewall
      type: title
      version: -1
    taskid: fc9c3e1e-ad8c-4166-8aa8-8c6ef6c11638
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4730,
          "y": 1115
        }
      }
  "75":
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      rule_name:
        simple: ${inputs.RuleName}
      target_ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds a rule that blocks packets destined for a specific IP address
        or range of IP addresses.
      id: 307dbc81-61b7-41c0-8f02-53aa5b88aeb6
      iscommand: true
      name: ARIA Packet Intelligence - Blacklist IPs
      script: '|||aria-block-dest-subnet'
      type: regular
      version: -1
    taskid: 307dbc81-61b7-41c0-8f02-53aa5b88aeb6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2320,
          "y": 1450
        }
      }
  "76":
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "94"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: sophos_firewall
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 13b01b09-e8d8-4582-8e91-446242b457d9
      iscommand: false
      name: Is Sophos Firewall enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 13b01b09-e8d8-4582-8e91-446242b457d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4730,
          "y": 1270
        }
      }
  "78":
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ARIA Packet Intelligence
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 11ff919b-bb96-43ad-8962-91c2580e0e14
      iscommand: false
      name: Is ARIA Packet Intelligence enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 11ff919b-bb96-43ad-8962-91c2580e0e14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2320,
          "y": 1270
        }
      }
  "79":
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5578aea-9c8a-4fee-83d2-20435d16f12b
      iscommand: false
      name: 'ARIA Packet Intelligence '
      type: title
      version: -1
    taskid: f5578aea-9c8a-4fee-83d2-20435d16f12b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2320,
          "y": 1115
        }
      }
  "80":
    continueonerror: true
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      ipRanges:
        simple: ${inputs.InternalRange}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Returns 'yes' if the IP is in one of the ranges provided. Otherwise
        returns 'no'
      id: ac83e071-6f18-426e-8cac-15c2689ee1e4
      iscommand: false
      name: Check if there are internal IP addresses
      script: IsIPInRanges
      type: regular
      version: -1
    taskid: ac83e071-6f18-426e-8cac-15c2689ee1e4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": -2525
        }
      }
  "85":
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Input
      stringify:
        simple: "false"
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the IPs from the input.
      id: c929bb43-10a2-44b8-8f73-e5640cdb882d
      iscommand: false
      name: Append Context List with Input IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c929bb43-10a2-44b8-8f73-e5640cdb882d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340,
          "y": -1245
        }
      }
  "86":
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${BlockList.Input}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: ca66421d-fbc6-4e84-8ae5-c54d80321888
      iscommand: false
      name: Re-set the block list [Inputs]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ca66421d-fbc6-4e84-8ae5-c54d80321888
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 385
        }
      }
  "89":
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Override:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook will append a network group object with new elements
        (IPs or network objects).
      id: 9c275081-8770-40c6-8c5d-9041e5da00bb
      iscommand: false
      name: Cisco FirePower- Append network group object
      playbookName: Cisco FirePower- Append network group object
      type: playbook
      version: -1
    taskid: 9c275081-8770-40c6-8c5d-9041e5da00bb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1900,
          "y": 1450
        }
      }
  "90":
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${Please answer the following.Answers.2}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: a459d1a6-0fb3-423c-8c72-e2e65cb9f405
      iscommand: false
      name: Re-set the block list [Inputs]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a459d1a6-0fb3-423c-8c72-e2e65cb9f405
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 385
        }
      }
  "91":
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${Please answer the following.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 56cab1f8-95e3-41e5-873e-a6bd8f554e01
      iscommand: false
      name: Re-set the block list [Malicious]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 56cab1f8-95e3-41e5-873e-a6bd8f554e01
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 555
        }
      }
  "92":
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${Please answer the following.Answers.1}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: dca0f1eb-2cce-461e-8f85-7da7174399f4
      iscommand: false
      name: Re-set the block list [Suspicious]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: dca0f1eb-2cce-461e-8f85-7da7174399f4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 720
        }
      }
  "93":
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.RuleName}
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds an IP address or CIDR to the block list.
      id: 89c95e25-1341-459c-8cc7-d428e10b807d
      iscommand: true
      name: ThreatX - add IP to a block list
      script: '|||threatx-blacklist-ip'
      type: regular
      version: -1
    taskid: 89c95e25-1341-459c-8cc7-d428e10b807d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3780,
          "y": 1450
        }
      }
  "94":
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook adds the IP address to a pre-configured firewall rule. (The target firewall rule can be changed as requested.)
        Pre-Requisite:
        1) Create an IP host group.
        2) Create a firewall rule which refers to the IP host group created in the previous step.
      id: 1e39e78d-dff6-4a4a-8d56-1e42f3d32b96
      iscommand: false
      name: Sophos Firewall - Block IP
      playbookName: Sophos Firewall - Block IP
      type: playbook
      version: -1
    taskid: 1e39e78d-dff6-4a4a-8d56-1e42f3d32b96
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 4730,
          "y": 1450
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${BlockList.PIIP}
          operator: isExists
      label: "yes"
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "98"
      "yes":
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any internal IPs in the block requested IPs.
      id: 39f40c5a-7ef0-4a2d-8b80-5a9cbe5928e2
      iscommand: false
      name: Are There Any Internal IPs?
      type: condition
      version: -1
    taskid: 39f40c5a-7ef0-4a2d-8b80-5a9cbe5928e2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -250
        }
      }
  "96":
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d2db46dd-a1c0-4639-8e0a-85ca7db99498
      iscommand: false
      name: No IP to block
      type: title
      version: -1
    taskid: d2db46dd-a1c0-4639-8e0a-85ca7db99498
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2750,
          "y": 1115
        }
      }
  "98":
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Malicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Malicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Suspiocus IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Suspicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Other IPs from Input"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Malicious
            root: BlockList.Input
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: Your SOC team
      title: Please answer the following
      totalanswers: 0
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of IPs will be blocked on your XSOAR's integrated network devices.</p>
          <p><br />(<strong>Note</strong>: the IPs will be added to your company block list or be blocked in individual rules based on the XSOAR integrated devices).</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block IP Playbook - Analyst's Verification
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst,Administrator
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Ask the user what IPs should be blocked.

        Remember that the direction you have decided is - ${inputs.RuleDirection}
      id: 3a32993e-9fc7-4565-8ff2-196356a446c2
      iscommand: false
      name: Analyst Verification Prompt (without IP Internal List)
      type: collection
      version: -1
    taskid: 3a32993e-9fc7-4565-8ff2-196356a446c2
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -15
        }
      }
  "99":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.InputEnrichment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "100"
      "yes":
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the user requests an IPs enrichment for determining if
        those are malicious or suspicious.
      id: c42ecec1-d24b-4c1a-83b6-fea82e62f889
      iscommand: false
      name: Should Inputs be enriched?
      type: condition
      version: -1
    taskid: c42ecec1-d24b-4c1a-83b6-fea82e62f889
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 760,
          "y": -2170
        }
      }
  "100":
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.PIIP
      value:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "Yes"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 00211c6d-40d4-4cb0-8a33-76ac25dd3b05
      iscommand: false
      name: Append Internal IPs to a possible block list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 00211c6d-40d4-4cb0-8a33-76ac25dd3b05
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340,
          "y": -1780
        }
      }
  "102":
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${Please answer the following.Answers.3}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 24aa26cf-65bc-4deb-8b15-8d2c3cc2dbea
      iscommand: false
      name: Re-set the block list [Internal Address]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 24aa26cf-65bc-4deb-8b15-8d2c3cc2dbea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 580,
          "y": 170
        }
      }
  "103":
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      tags:
        simple: ${inputs.Tag}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicators
      id: 5b0e085d-9979-4117-883a-24f8146d867b
      iscommand: true
      name: Update Indicator Tag for EDL
      script: Builtin|||setIndicators
      type: regular
      version: -1
    taskid: 5b0e085d-9979-4117-883a-24f8146d867b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -640,
          "y": 1450
        }
      }
  "104":
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 664aaee7-a87a-47d8-89e9-5af93caa37c1
      iscommand: false
      name: EDL/EIS
      type: title
      version: -1
    taskid: 664aaee7-a87a-47d8-89e9-5af93caa37c1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -640,
          "y": 1115
        }
      }
  "105":
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      type:
        simple: IP
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Create System indicators
      id: fac2d139-f8b7-4e2d-81fc-ff0410ba1778
      iscommand: true
      name: Create IP indicators in the system
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: fac2d139-f8b7-4e2d-81fc-ff0410ba1778
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 760,
          "y": -2340
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.11,
      "22_2_#default#": 0.22,
      "23_2_#default#": 0.2,
      "24_2_#default#": 0.1,
      "25_2_#default#": 0.1,
      "27_2_#default#": 0.1,
      "32_2_#default#": 0.1,
      "36_8_#default#": 0.19,
      "41_42_yes": 0.65,
      "41_8_#default#": 0.1,
      "47_8_#default#": 0.12,
      "56_2_#default#": 0.11,
      "58_2_#default#": 0.14,
      "61_2_#default#": 0.1,
      "68_2_#default#": 0.1,
      "68_69_yes": 0.52,
      "68_93_yes": 0.52,
      "72_2_#default#": 0.1,
      "76_2_#default#": 0.12,
      "78_2_#default#": 0.1,
      "7_2_#default#": 0.39,
      "8_43_yes": 0.5,
      "8_96_#default#": 0.1,
      "99_100_#default#": 0.83,
      "99_53_yes": 0.62
    },
    "paper": {
      "dimensions": {
        "height": 4605,
        "width": 7860,
        "x": -2750,
        "y": -2840
      }
    }
  }
